textarea {
    min-height: 400px;
}

.mail {
    border: 1px solid;
    padding: 2px;
    cursor: pointer;
}

.time {
    float: right;
    text-align: right;
}

.unread {
    background-color: rgb(224,224,224);
}
